In [34]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv(r'data/house_sales.csv')

In [8]:
df.head(5)

,id,mssubclass,mszoning,lotfrontage,lotarea,street,alley,lotshape,landcontour,utilities,...,poolarea,poolqc,fence,miscfeature,miscval,mosold,yrsold,saletype,salecondition,saleprice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [9]:
df.describe()

,id,mssubclass,lotfrontage,lotarea,overallqual,overallcond,yearbuilt,yearremodadd,masvnrarea,bsmtfinsf1,...,wooddecksf,openporchsf,enclosedporch,3ssnporch,screenporch,poolarea,miscval,mosold,yrsold,saleprice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [18]:
df['digit'] = df['saleprice'].apply(lambda x: int(str(x)[0]))

In [43]:
plt.figure(figsize=[12, 4])
count_digit = df.groupby('digit').apply(lambda s : pd.Series({
    'frequency': s['digit'].value_counts(),
    'proportion': s['digit'].value_counts(normalize=2),
})).reset_index()
n = df.shape[0]
# count_digit['upper_limit'] = count_digit['proportion'].apply(
#     lambda x: x + 1.96 * np.sqrt(x*(1+x)/n) + 1/2*n
# )
# count_digit['lower_limit'] = count_digit['proportion'].apply(
#     lambda x: x - 1.96 * np.sqrt(x*(1-x)/n) - 1/2*n
# )
sns.pointplot(x='digit', y='proportion', data=count_digit)
sns.pointplot(x='digit', y='upper_limit', data=count_digit)
sns.pointplot(x='digit', y='lower_limit', data=count_digit)                                        
plt.show()

TypeError: unhashable type: 'Series'

In [44]:
count_digit

,digit,frequency,proportion
0,1,"digit 1 911 Name: count, dtype: int64","digit 1 1.0 Name: proportion, dtype: float64"
1,2,"digit 2 320 Name: count, dtype: int64","digit 2 1.0 Name: proportion, dtype: float64"
2,3,"digit 3 91 Name: count, dtype: int64","digit 3 1.0 Name: proportion, dtype: float64"
3,4,"digit 4 20 Name: count, dtype: int64","digit 4 1.0 Name: proportion, dtype: float64"
4,5,"digit 5 11 Name: count, dtype: int64","digit 5 1.0 Name: proportion, dtype: float64"
5,6,"digit 6 13 Name: count, dtype: int64","digit 6 1.0 Name: proportion, dtype: float64"
6,7,"digit 7 15 Name: count, dtype: int64","digit 7 1.0 Name: proportion, dtype: float64"
7,8,"digit 8 44 Name: count, dtype: int64","digit 8 1.0 Name: proportion, dtype: float64"
8,9,"digit 9 35 Name: count, dtype: int64","digit 9 1.0 Name: proportion, dtype: float64"